# yii console command
/yii

# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml
frontend/web/source/images/db744fa0da56940844d3a44a39427fe6da92bb013686dee88d53c99c26d124c8b8f682629a14f30d3342ea5de3316876d17210ab526e3a55404f20b1ddbd07a31bd3cd9dbc1e7dbf4f92c6c013c8c5f2aca00abe77cc3b3246a4f4518a2d644b.jpg
